[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.5"
django-taggit = "==6.1.0"
django-environ = "==0.12.0"
psycopg2-binary = "==2.9.10"
requests = "==2.32.4"
gunicorn = "==20.1.0"
redis = "==4.5.5"
django-redis = "==5.2.0"
whitenoise = "==6.4.0"
pillow = "==10.4.0"

[dev-packages]

[requires]
python_version = "3.12"
