[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "*"
psycopg2-binary = "*"
requests = "*"
django-environ = "*"
gunicorn = "*"
redis = "*"
django-redis = "*"
whitenoise = "==6.4.0"

[dev-packages]

[requires]
python_version = "3.11"
